@{
    ViewData["Title"] = "Online Book Library";
}

<div class="text-center">
    <h1 class="display-4">Database View</h1>
</div>

@if (Model != null && Model.Book != null)

{
    <div>
        <h2>Books</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Book)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}